{% extends 'base.html' %}
{% block content %}
<div class="col-8 col-xs-12 alert alert-danger">
    <div class="row">
        <div class="col-12">
            <h1 style="word-wrap: break-word;white-space: normal;">Gruppe Non-Existent</h1>
            <hr />
            <p>
                Diese Gruppe existiert leider nicht.
            </p>
            <a class="btn btn-danger" style="margin-bottom:4px;white-space: normal;"
                href="{% url 'wichteln' %}">Wichtelgruppe erstellen</a>
        </div>
    </div>
</div>
</div>
{% endblock %}