{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-8 col-xs-12">
    <div class="row">
        <div class="col-12">
            <h1 style="word-wrap: break-word;white-space: normal;">Wichtelgruppenmitglied anlegen</h1>
            <hr />
            <div class="col-12">
                <form method="post">{% csrf_token %}
                    {{ form|crispy}}
                    <input class="btn btn-outline-success btn-lg btn-block"
                        style="margin-bottom:4px;white-space: normal;" type="submit" value="Absenden" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}