{% extends 'base.html' %}
{% block content %}
<div class="col-8 col-xs-12">
    <div class="row">
        <div class="col-12">
        <h1>Home</h1>
        <hr/>
        <div class="jumbotron">
            <h1>Wichteln</h1>
            <p>
                Drücke den Knopf, um eine <font color=#00B944> Wichtelgruppe </font> anzulegen.<br> 
                Auf der folgenden Webseite, trägst du dich initial ein.<br>
                Dir wird eine <font color=#9A0AD8> URL </font> via Email zugesendet, mit der du weitere Personen in deine Wichtelgruppe einlädst.
                <font color=#FF0000> Ungeduldige Personen </font> beziehen die <font color=#9A0AD8> URL </font>aus der Adresszeile.
            </p>
            <br />
            <br />
            <a type="button" class="btn btn-success btn-lg btn-block" style="margin-bottom:4px;white-space: normal;" href="{% url 'wichteln' %}">Wichtelgruppe
                erstellen</a>
        </div>
    </div>
</div>
</div>
{% endblock %}