{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1>Wichteln</h1>
        <p>
            Indem du unten auf den Wichtelgruppe erstellen Knopf drückst, kannst du eine Wichtelgruppe
            anlegen. Danach wirst du auf eine Webseite weitergeleitet. Auf dieser kannst du dich initial eintragen.
            Kopiere die URL oben aus dem Addresszeile deines Browsers, um auch andere Leute in deine Wichtelgruppe einzuladen.
        </p>
        <a class="btn btn-success" href="{% url 'wichteln' %}">Wichtelgruppe erstellen</a>
    </div>
{% endblock %}