<div style="font-family: monospace, fixed; font-weight: bold;">
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;.</span><span
        style=";color:#fff;background-color:#aaa">8</span><span style=";color:#aaa;background-color:#555">8</span><span
        style=";color:#000;background-color:#555">8</span><span style=";color:#00a;background-color:#000">:</span><span
        style=";color:#0a0;background-color:#000">;</span><span style=";color:#000;background-color:#555">@</span><span
        style=";color:#aaa;background-color:#555">8</span><span style=";color:#fff;background-color:#aaa">8</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;.&#160;.&#160;&#160;.&#160;&#160;.&#160;.&#160;&#160;%</span><span
        style=";color:#555;background-color:#aaa">:</span><span style=";color:#0aa;background-color:#555">.</span><span
        style=";color:#a00;background-color:#000">;</span><span style=";color:#00a;background-color:#000">:</span><span
        style=";color:#0a0;background-color:#000">.</span><span style=";color:#a00;background-color:#000">..</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#00a;background-color:#000">t</span><span
        style=";color:#a50;background-color:#555">:</span><span style=";color:#555;background-color:#aaa">;</span><span
        style=";color:#aaa;background-color:#fff">%.&#160;&#160;.&#160;.&#160;&#160;.&#160;.&#160;&#160;.&#160;.&#160;&#160;</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;.&#160;&#160;&#160;&#160;@</span><span
        style=";color:#aaa;background-color:#555">8</span><span style=";color:#555;background-color:#000">X</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">..</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#0a0;background-color:#000">.</span><span style=";color:#a00;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;</span><span
        style=";color:#555;background-color:#000">X</span><span style=";color:#aaa;background-color:#555">8</span><span
        style=";color:#aaa;background-color:#fff">@&#160;&#160;&#160;&#160;&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;.</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;&#160;.&#160;&#160;.&#160;&#160;&#160;&#160;.&#160;</span><span
        style=";color:#fff;background-color:#aaa">X</span><span style=";color:#000;background-color:#555">8</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#000;background-color:#555">8</span><span style=";color:#fff;background-color:#aaa">S</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;&#160;.&#160;.&#160;&#160;.&#160;&#160;</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;.&#160;&#160;&#160;t</span><span
        style=";color:#555;background-color:#aaa">X</span><span style=";color:#555;background-color:#000">X</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#555;background-color:#000">X</span><span style=";color:#555;background-color:#aaa">X</span><span
        style=";color:#aaa;background-color:#fff">t&#160;&#160;&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;.&#160;&#160;.&#160;&#160;&#160;&#160;.</span><span
        style=";color:#fff;background-color:#aaa">%</span><span style=";color:#000;background-color:#555">X</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;;</span><span
        style=";color:#000;background-color:#555">@</span><span style=";color:#a50;background-color:#555">;</span><span
        style=";color:#a0a;background-color:#555">&#160;</span><span
        style=";color:#aaa;background-color:#555">888@</span><span
        style=";color:#a0a;background-color:#555">&#160;</span><span
        style=";color:#0aa;background-color:#555">.</span><span style=";color:#000;background-color:#555">8</span><span
        style=";color:#a00;background-color:#000">;</span><span style=";color:#0a0;background-color:#000">:</span><span
        style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#000;background-color:#555">X</span><span style=";color:#fff;background-color:#aaa">%</span><span
        style=";color:#aaa;background-color:#fff">.&#160;&#160;&#160;&#160;.&#160;.&#160;&#160;.&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;&#160;.&#160;&#160;.</span><span
        style=";color:#fff;background-color:#aaa">t</span><span style=";color:#555;background-color:#000">X</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;.</span><span
        style=";color:#000;background-color:#555">@</span><span style=";color:#555;background-color:#aaa">S</span><span
        style=";color:#aaa;background-color:#fff">@:.:%SSt...@</span><span
        style=";color:#555;background-color:#aaa">X</span><span style=";color:#000;background-color:#555">8</span><span
        style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#555;background-color:#000">X</span><span style=";color:#fff;background-color:#aaa">t</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;&#160;&#160;.&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;.&#160;&#160;&#160;&#160;.</span><span
        style=";color:#fff;background-color:#aaa">:</span><span style=";color:#555;background-color:#000">8</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#555;background-color:#000">S</span><span
        style=";color:#a50;background-color:#555">&#160;</span><span
        style=";color:#fff;background-color:#aaa">S</span><span style=";color:#aaa;background-color:#fff">S</span><span
        style=";color:#fff;background-color:#aaa">8</span><span style=";color:#555;background-color:#aaa">%</span><span
        style=";color:#a50;background-color:#555">&#160;</span><span
        style=";color:#a0a;background-color:#555">t</span><span style=";color:#555;background-color:#000">XS</span><span
        style=";color:#00a;background-color:#000">;</span><span style=";color:#0a0;background-color:#000">t</span><span
        style=";color:#555;background-color:#000">@8</span><span style=";color:#000;background-color:#555">S</span><span
        style=";color:#0aa;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#aaa">t</span><span style=";color:#fff;background-color:#aaa">8</span><span
        style=";color:#aaa;background-color:#fff">%</span><span style=";color:#fff;background-color:#aaa">t</span><span
        style=";color:#a50;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#000">X</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#555;background-color:#000">8</span><span style=";color:#fff;background-color:#aaa">;</span><span
        style=";color:#aaa;background-color:#fff">.&#160;&#160;&#160;.&#160;&#160;&#160;&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;..;tX</span><span
        style=";color:#fff;background-color:#aaa">8.</span><span style=";color:#555;background-color:#aaa">;</span><span
        style=";color:#aaa;background-color:#fff">X@</span><span style=";color:#aaa;background-color:#555">8</span><span
        style=";color:#555;background-color:#000">8</span><span style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">.&#160;&#160;.</span><span
        style=";color:#a00;background-color:#000">:.</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">.</span><span style=";color:#555;background-color:#000">8</span><span
        style=";color:#aaa;background-color:#555">8</span><span style=";color:#aaa;background-color:#fff">@X</span><span
        style=";color:#fff;background-color:#aaa">:8</span><span
        style=";color:#aaa;background-color:#fff">@S;:&#160;&#160;&#160;&#160;.&#160;&#160;.</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;.;</span><span
        style=";color:#fff;background-color:#aaa">&#160;</span><span
        style=";color:#0aa;background-color:#555">&#160;</span><span
        style=";color:#000;background-color:#555">8</span><span style=";color:#555;background-color:#000">X</span><span
        style=";color:#000;background-color:#555">8</span><span style=";color:#aaa;background-color:#555">8</span><span
        style=";color:#aaa;background-color:#fff">t&#160;</span><span
        style=";color:#fff;background-color:#aaa">:</span><span style=";color:#555;background-color:#000">@</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;.</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#555;background-color:#000">@</span><span
        style=";color:#fff;background-color:#aaa">;</span><span
        style=";color:#aaa;background-color:#fff">&#160;@</span><span
        style=";color:#a50;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#000">@8</span><span
        style=";color:#a50;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#aaa">:</span><span
        style=";color:#aaa;background-color:#fff">;.&#160;&#160;&#160;&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;</span><span
        style=";color:#fff;background-color:#aaa">%</span><span style=";color:#000;background-color:#555">S</span><span
        style=";color:#00a;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#555;background-color:#000">S</span><span style=";color:#555;background-color:#aaa">.</span><span
        style=";color:#aaa;background-color:#fff">:</span><span style=";color:#555;background-color:#aaa">S</span><span
        style=";color:#555;background-color:#000">%</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;:</span><span
        style=";color:#0a0;background-color:#000">:</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;:</span><span
        style=";color:#0a0;background-color:#000">;</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">t</span><span style=";color:#555;background-color:#aaa">t</span><span
        style=";color:#aaa;background-color:#fff">:</span><span style=";color:#555;background-color:#aaa">:</span><span
        style=";color:#555;background-color:#000">S</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;.</span><span
        style=";color:#000;background-color:#555">X</span><span style=";color:#fff;background-color:#aaa">%</span><span
        style=";color:#aaa;background-color:#fff">&#160;.&#160;.&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;S</span><span
        style=";color:#000;background-color:#555">8</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;&#160;;</span><span
        style=";color:#fff;background-color:#aaa">:</span><span style=";color:#aaa;background-color:#fff">:</span><span
        style=";color:#aaa;background-color:#555">@</span><span style=";color:#a00;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;:</span><span
        style=";color:#555;background-color:#aaa">%</span><span style=";color:#aaa;background-color:#fff">SS</span><span
        style=";color:#555;background-color:#aaa">S</span><span style=";color:#0a0;background-color:#000">:</span><span
        style=";color:#a00;background-color:#000">.</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;:</span><span
        style=";color:#555;background-color:#aaa">%</span><span style=";color:#aaa;background-color:#fff">S%</span><span
        style=";color:#555;background-color:#aaa">X</span><span style=";color:#a00;background-color:#000">:</span><span
        style=";color:#00a;background-color:#000">.</span><span style=";color:#a00;background-color:#000">.</span><span
        style=";color:#00a;background-color:#000">.</span><span style=";color:#aaa;background-color:#555">8</span><span
        style=";color:#aaa;background-color:#fff">:</span><span
        style=";color:#fff;background-color:#aaa">&#160;</span><span
        style=";color:#a00;background-color:#000">:</span><span style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;</span><span
        style=";color:#000;background-color:#555">8</span><span
        style=";color:#aaa;background-color:#fff">S&#160;&#160;&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;t</span><span
        style=";color:#000;background-color:#555">%</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#a0a;background-color:#555">.</span><span
        style=";color:#aaa;background-color:#fff">:</span><span style=";color:#fff;background-color:#aaa">%</span><span
        style=";color:#00a;background-color:#000">;</span><span style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">t</span><span style=";color:#fff;background-color:#aaa">8</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;</span><span
        style=";color:#fff;background-color:#aaa">@</span><span style=";color:#00a;background-color:#000">t</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">t</span><span style=";color:#fff;background-color:#aaa">8</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;</span><span
        style=";color:#fff;background-color:#aaa">@</span><span style=";color:#555;background-color:#000">S</span><span
        style=";color:#00a;background-color:#000">&#160;.</span><span
        style=";color:#a00;background-color:#000">&#160;;</span><span
        style=";color:#fff;background-color:#aaa">S</span><span style=";color:#aaa;background-color:#fff">.</span><span
        style=";color:#0aa;background-color:#555">.</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#a50;background-color:#555">%</span><span
        style=";color:#aaa;background-color:#fff">X&#160;&#160;&#160;.</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;.&#160;&#160;</span><span
        style=";color:#555;background-color:#aaa">%</span><span style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;.</span><span
        style=";color:#555;background-color:#aaa">;</span><span style=";color:#aaa;background-color:#fff">.</span><span
        style=";color:#aaa;background-color:#555">S</span><span style=";color:#a00;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;.</span><span
        style=";color:#00a;background-color:#000">:</span><span style=";color:#000;background-color:#555">8</span><span
        style=";color:#aaa;background-color:#555">SX</span><span style=";color:#000;background-color:#555">8</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#0a0;background-color:#000">t</span><span
        style=";color:#a0a;background-color:#555">:</span><span style=";color:#aaa;background-color:#555">@8</span><span
        style=";color:#0aa;background-color:#555">.</span><span style=";color:#a00;background-color:#000">t</span><span
        style=";color:#00a;background-color:#000">:</span><span style=";color:#000;background-color:#555">8</span><span
        style=";color:#aaa;background-color:#555">SX</span><span style=";color:#000;background-color:#555">8</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;.</span><span
        style=";color:#aaa;background-color:#555">S</span><span style=";color:#aaa;background-color:#fff">.</span><span
        style=";color:#555;background-color:#aaa">;</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">.</span><span style=";color:#555;background-color:#aaa">@</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;.t</span><span
        style=";color:#a0a;background-color:#555">:</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;</span><span
        style=";color:#555;background-color:#000">S</span><span style=";color:#aaa;background-color:#fff">8S</span><span
        style=";color:#000;background-color:#555">8</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#a00;background-color:#000">t</span><span style=";color:#fff;background-color:#aaa">X</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;</span><span
        style=";color:#fff;background-color:#aaa">S</span><span style=";color:#0a0;background-color:#000">;</span><span
        style=";color:#a00;background-color:#000">:</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;.</span><span
        style=";color:#000;background-color:#555">8</span><span style=";color:#aaa;background-color:#fff">S8</span><span
        style=";color:#555;background-color:#000">S</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#0aa;background-color:#555">t</span><span
        style=";color:#aaa;background-color:#fff">S&#160;&#160;.&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;.</span><span
        style=";color:#fff;background-color:#aaa">%</span><span style=";color:#555;background-color:#000">@</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#555;background-color:#000">S</span><span style=";color:#aaa;background-color:#fff">@S</span><span
        style=";color:#555;background-color:#000">X</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;&#160;&#160;&#160;&#160;:</span><span
        style=";color:#000;background-color:#555">8</span><span
        style=";color:#0aa;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#aaa">.</span><span
        style=";color:#aaa;background-color:#fff">t&#160;&#160;&#160;&#160;t</span><span
        style=";color:#555;background-color:#aaa">;</span><span
        style=";color:#a0a;background-color:#555">&#160;</span><span
        style=";color:#000;background-color:#555">8</span><span style=";color:#00a;background-color:#000">:</span><span
        style=";color:#a00;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#555;background-color:#000">X</span><span style=";color:#aaa;background-color:#fff">S@</span><span
        style=";color:#555;background-color:#000">S</span><span style=";color:#a00;background-color:#000">t</span><span
        style=";color:#fff;background-color:#aaa">t</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;&#160;&#160;8</span><span
        style=";color:#555;background-color:#aaa">:%</span><span
        style=";color:#aaa;background-color:#fff">%t</span><span style=";color:#a50;background-color:#555">:</span><span
        style=";color:#00a;background-color:#000">.</span><span style=";color:#0a0;background-color:#000">;</span><span
        style=";color:#000;background-color:#555">@</span><span
        style=";color:#a0a;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#aaa">8</span><span style=";color:#fff;background-color:#aaa">:</span><span
        style=";color:#aaa;background-color:#fff">8X8</span><span
        style=";color:#fff;background-color:#aaa">t</span><span
        style=";color:#555;background-color:#aaa">;@88@:</span><span
        style=";color:#fff;background-color:#aaa">t</span><span
        style=";color:#aaa;background-color:#fff">8X8</span><span
        style=";color:#fff;background-color:#aaa">:</span><span style=";color:#555;background-color:#aaa">8</span><span
        style=";color:#0aa;background-color:#555">&#160;</span><span
        style=";color:#000;background-color:#555">8</span><span style=";color:#00a;background-color:#000">;</span><span
        style=";color:#0a0;background-color:#000">:</span><span style=";color:#a0a;background-color:#555">:</span><span
        style=";color:#aaa;background-color:#fff">%%</span><span style=";color:#fff;background-color:#aaa">.</span><span
        style=";color:#aaa;background-color:#fff">8..&#160;&#160;&#160;.&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;.&#160;:S&#160;SX@S8</span><span
        style=";color:#fff;background-color:#aaa">;</span><span style=";color:#555;background-color:#aaa">@</span><span
        style=";color:#a0a;background-color:#555">&#160;</span><span
        style=";color:#000;background-color:#555">@</span><span style=";color:#00a;background-color:#000">;</span><span
        style=";color:#0a0;background-color:#000">:</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;.</span><span
        style=";color:#0a0;background-color:#000">.</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;.</span><span
        style=";color:#a00;background-color:#000">;</span><span style=";color:#000;background-color:#555">X</span><span
        style=";color:#0aa;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#aaa">X</span><span style=";color:#fff;background-color:#aaa">;</span><span
        style=";color:#aaa;background-color:#fff">8S8Xt&#160;X:&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;&#160;&#160;&#160;X</span><span
        style=";color:#555;background-color:#aaa">;</span><span
        style=";color:#aaa;background-color:#fff">&#160;</span><span
        style=";color:#555;background-color:#aaa">.</span><span style=";color:#000;background-color:#555">@S</span><span
        style=";color:#555;background-color:#000">8</span><span style=";color:#00a;background-color:#000">:</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">..</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#555;background-color:#000">X</span><span
        style=";color:#0aa;background-color:#555">&#160;</span><span
        style=";color:#fff;background-color:#aaa">S%</span><span
        style=";color:#a50;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#000">@</span><span style=";color:#a00;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">.</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;:</span><span
        style=";color:#000;background-color:#555">8S@</span><span
        style=";color:#555;background-color:#aaa">.</span><span
        style=";color:#aaa;background-color:#fff">&#160;</span><span
        style=";color:#555;background-color:#aaa">;</span><span
        style=";color:#aaa;background-color:#fff">X&#160;.&#160;.&#160;&#160;.</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;.&#160;&#160;%</span><span
        style=";color:#a50;background-color:#555">&#160;</span><span
        style=";color:#fff;background-color:#aaa">.</span><span style=";color:#aaa;background-color:#fff">;</span><span
        style=";color:#555;background-color:#aaa">:</span><span style=";color:#a0a;background-color:#555">;</span><span
        style=";color:#555;background-color:#000">X</span><span style=";color:#0a0;background-color:#000">t</span><span
        style=";color:#555;background-color:#000">XS</span><span style=";color:#000;background-color:#555">8</span><span
        style=";color:#a0a;background-color:#555">%</span><span
        style=";color:#0aa;background-color:#555">&#160;</span><span
        style=";color:#555;background-color:#aaa">%</span><span style=";color:#fff;background-color:#aaa">%</span><span
        style=";color:#aaa;background-color:#fff">X@</span><span
        style=";color:#fff;background-color:#aaa">:;</span><span
        style=";color:#aaa;background-color:#fff">@X</span><span style=";color:#fff;background-color:#aaa">%</span><span
        style=";color:#555;background-color:#aaa">S</span><span
        style=";color:#0aa;background-color:#555">&#160;;</span><span
        style=";color:#555;background-color:#000">8X</span><span style=";color:#a00;background-color:#000">;</span><span
        style=";color:#555;background-color:#000">S@</span><span style=";color:#a0a;background-color:#555">;</span><span
        style=";color:#555;background-color:#aaa">t</span><span style=";color:#aaa;background-color:#fff">;</span><span
        style=";color:#fff;background-color:#aaa">&#160;</span><span
        style=";color:#0aa;background-color:#555">:</span><span
        style=";color:#aaa;background-color:#fff">X&#160;&#160;&#160;&#160;&#160;.&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;&#160;&#160;.&#160;</span><span
        style=";color:#555;background-color:#aaa">8</span><span style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#a0a;background-color:#555">t</span><span style=";color:#555;background-color:#aaa">X</span><span
        style=";color:#fff;background-color:#aaa">S</span><span
        style=";color:#aaa;background-color:#fff">@SX8</span><span
        style=";color:#fff;background-color:#aaa">8;</span><span style=";color:#555;background-color:#aaa">.</span><span
        style=";color:#aaa;background-color:#555">8</span><span style=";color:#a50;background-color:#555">.</span><span
        style=";color:#555;background-color:#000">8</span><span style=";color:#0a0;background-color:#000">:</span><span
        style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;:</span><span
        style=";color:#555;background-color:#000">8</span><span style=";color:#0aa;background-color:#555">.</span><span
        style=";color:#aaa;background-color:#555">8</span><span
        style=";color:#555;background-color:#aaa">&#160;</span><span
        style=";color:#fff;background-color:#aaa">%8</span><span
        style=";color:#aaa;background-color:#fff">XSX8</span><span
        style=";color:#fff;background-color:#aaa">S</span><span style=";color:#555;background-color:#aaa">%</span><span
        style=";color:#a50;background-color:#555">;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#a0a;background-color:#555">&#160;</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;.&#160;&#160;&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;.&#160;.</span><span
        style=";color:#fff;background-color:#aaa">8</span><span style=";color:#555;background-color:#000">S</span><span
        style=";color:#0a0;background-color:#000">&#160;..</span><span
        style=";color:#a00;background-color:#000">;</span><span style=";color:#555;background-color:#000">XX</span><span
        style=";color:#00a;background-color:#000">;</span><span style=";color:#0a0;background-color:#000">t</span><span
        style=";color:#a00;background-color:#000">:</span><span
        style=";color:#0a0;background-color:#000">.&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;.</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;.</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;.:</span><span
        style=";color:#00a;background-color:#000">t</span><span style=";color:#555;background-color:#000">@</span><span
        style=";color:#0a0;background-color:#000">t</span><span style=";color:#00a;background-color:#000">t</span><span
        style=";color:#0a0;background-color:#000">:</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;:</span><span
        style=";color:#fff;background-color:#aaa">&#160;</span><span
        style=";color:#aaa;background-color:#fff">&#160;.&#160;&#160;&#160;.&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;.&#160;&#160;&#160;.</span><span
        style=";color:#aaa;background-color:#555">8</span><span
        style=";color:#0a0;background-color:#000">.&#160;.</span><span
        style=";color:#00a;background-color:#000">.&#160;</span><span
        style=";color:#0a0;background-color:#000">.</span><span style=";color:#a00;background-color:#000">:</span><span
        style=";color:#00a;background-color:#000">.</span><span style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#0a0;background-color:#000">:</span><span style=";color:#a00;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">::.</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#000;background-color:#555">S</span><span
        style=";color:#aaa;background-color:#fff">S&#160;&#160;&#160;&#160;&#160;&#160;&#160;.</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;&#160;&#160;&#160;:</span><span
        style=";color:#555;background-color:#aaa">8</span><span style=";color:#00a;background-color:#000">:</span><span
        style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;.</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#555;background-color:#000">8</span><span style=";color:#fff;background-color:#aaa">8</span><span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;.&#160;.&#160;&#160;</span><br />
    <span style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;&#160;.&#160;.&#160;&#160;&#160;</span><span
        style=";color:#555;background-color:#aaa">S</span><span style=";color:#a00;background-color:#000">:</span><span
        style=";color:#0a0;background-color:#000">.</span><span style=";color:#00a;background-color:#000">.</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;</span><span
        style=";color:#0a0;background-color:#000">&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;;</span><span
        style=";color:#fff;background-color:#aaa">t</span><span
        style=";color:#aaa;background-color:#fff">&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;&#160;&#160;&#160;.&#160;.</span><span
        style=";color:#fff;background-color:#aaa">t</span><span style=";color:#0aa;background-color:#555">;</span><span
        style=";color:#a00;background-color:#000">.&#160;&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;</span><span
        style=";color:#555;background-color:#000">8</span><span style=";color:#fff;background-color:#aaa">:</span><span
        style=";color:#aaa;background-color:#fff">.&#160;&#160;&#160;.&#160;&#160;.&#160;&#160;.</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;.&#160;&#160;.&#160;&#160;&#160;..:8</span><span
        style=";color:#555;background-color:#aaa">X</span><span style=";color:#a50;background-color:#555">:</span><span
        style=";color:#00a;background-color:#000">t</span><span style=";color:#a00;background-color:#000">:</span><span
        style=";color:#0a0;background-color:#000">.</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span
        style=";color:#a00;background-color:#000">&#160;&#160;</span><span
        style=";color:#555;background-color:#000">8</span><span style=";color:#555;background-color:#aaa">8</span><span
        style=";color:#aaa;background-color:#fff">%.&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;.&#160;..t</span><span
        style=";color:#555;background-color:#aaa">.</span><span style=";color:#0aa;background-color:#555">;</span><span
        style=";color:#a00;background-color:#000">.&#160;&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;&#160;&#160;&#160;.</span><span
        style=";color:#a50;background-color:#555">.</span><span style=";color:#00a;background-color:#000">:</span><span
        style=";color:#a00;background-color:#000">.</span><span style=";color:#0a0;background-color:#000">:</span><span
        style=";color:#aaa;background-color:#555">S</span><span
        style=";color:#aaa;background-color:#fff">@&#160;&#160;&#160;&#160;&#160;.&#160;&#160;.&#160;.&#160;.&#160;</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;&#160;&#160;.&#160;.&#160;.&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;.t</span><span
        style=";color:#fff;background-color:#aaa">8</span><span style=";color:#555;background-color:#aaa">8</span><span
        style=";color:#000;background-color:#555">X</span><span style=";color:#a00;background-color:#000">.</span><span
        style=";color:#0a0;background-color:#000">&#160;&#160;</span><span
        style=";color:#00a;background-color:#000">&#160;&#160;</span><span
        style=";color:#555;background-color:#000">@</span><span style=";color:#555;background-color:#aaa">X</span><span
        style=";color:#aaa;background-color:#fff">t</span><span
        style=";color:#555;background-color:#aaa">&#160;t</span><span
        style=";color:#fff;background-color:#aaa">8</span><span
        style=";color:#aaa;background-color:#fff">.&#160;&#160;.&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br />
    <span
        style=";color:#aaa;background-color:#fff">&#160;&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;.&#160;.&#160;&#160;.&#160;&#160;&#160;&#160;.</span><span
        style=";color:#fff;background-color:#aaa">%</span><span style=";color:#555;background-color:#000">8</span><span
        style=";color:#0a0;background-color:#000">;</span><span style=";color:#a0a;background-color:#555">.</span><span
        style=";color:#555;background-color:#aaa">:</span><span
        style=";color:#aaa;background-color:#fff">%&#160;.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;.&#160;.&#160;&#160;.&#160;&#160;.</span><br />
</div>